/* home responsive */
@media(max-width:1291px){
    #sm-bannar .bannar-box{
        min-width: 415px
    }
}
@media(max-width:1168px){
    #sm-bannar .bannar-box{
        padding: 8px;
        min-width: 453px;
    }
    #feature .fe-box {
        width: 137px;
    }
}
@media(max-width:1106px){
    #sm-bannar .bannar-box{
        min-width: 386px;
    }
}
@media(max-width:1039px){
    #sm-bannar .bannar-box{
        min-width: 708px;
    }
    #sm-bannar{
        justify-content: center;
    }
}
@media(max-width:835px){
    #feature{
        justify-content: space-around;
    }
}
/* hamburger */
@media(max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #header #mobile img{
        width: 27px;
        padding-left: 20px;
    }
    #mobile{
       display: flex;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar #close img{
        width: 20px;
        top: 38px;
        position: absolute;
        left: 30px;
    }
    #navbar .bag{
        display: none;
    }
    #navbar #close img{
        display: flex;
    }
    #header{
        padding: 20px 27px;
    }
}
@media (max-width: 724px){
    #sm-bannar .bannar-box {
    min-width: 542px;
    }
}
@media (max-width: 711px){
    #hero button {
        color: rgb(0, 163, 163);
        border: 0;
            padding: 14px 80px 14px 65px;
            cursor: pointer;
            background-repeat: no-repeat;
            font-weight: 700;
            font-size: 15px;
            border-radius: 15px;
            background-color: #363636;
            background-image: none;
        }
        #product1 .pro {
        min-width: 372px;
        }
        #product1 .pro-container {
            justify-content: center;
        }
    }
@media (max-width: 598px){
    #sm-bannar .bannar-box {
    min-width: 510px;
    }
}
@media (max-width: 572px){
    #sm-bannar .bannar-box {
        min-width: 506px;
    }
}
@media (max-width: 564px){
    .footer .column {
        margin-right: 3%;
    }
}
@media (max-width: 525px){
    #sm-bannar .bannar-box {
        min-width: 415px;
    }
}
@media (max-width: 500px){
    #hero{
        opacity: 0.9;
    }
    #hero #intro h2{
       color: red;
    }
    #hero #intro p{
       color: red;
       font-weight: 900;
    }
}
@media (max-width: 434px){
    #sm-bannar .bannar-box {
        min-width: 337px;
        height: 41vh;
    }
}
@media (max-width: 408px){
    #product1 .pro {
        min-width: 220px;
    }
}
@media (max-width: 424px){
    #product1 .pro {
        min-width: 240px;
    }
}
/* sproduct responsive */
@media(max-width: 680px){
    #proddetails {
        flex-direction: column;
        align-items: center;
    }
    #proddetails .single-pro-img {
    margin-right: 0px;
    width: 68%;
    }
    #proddetails .single-pro-details {
        width: 86%;
        padding-top: 30px;
    }
}
@media(max-width: 530px){
    #proddetails .single-pro-img {
        width: 90%;
        }
}
@media(max-width: 400px){
    #proddetails .single-pro-img {
        width: 100%;
        }
}
/* contact */
@media(max-width: 810px){
    #collapse {
        width: 100%;
    }
}
@media(max-width: 648px){
    .details h2 {
        font-size: 31px;
    }
    #form form h2 {
        font-size: 38px;
    }
}
@media(max-width: 568px){
    .details h2 {
        font-size: 27px;
    }
    #form form textarea {
        width: 70%;
    }
    #form form input {
        width: 70%;
    }
}
@media(max-width: 515px){
    .details h2 {
        font-size: 23px;
    }
    #form form h2 {
        font-size: 34px;
    }
}
@media(max-width: 463px){
    .details h2 {
        font-size: 20px;
    }
}
@media(max-width: 425px){
    #contact-details {
        padding: 40px 30px;
    }
    #form {
        padding: 40px 38px;
    }
}
@media(max-width: 341px){
    #form {
        padding: 40px 20px;
    }
    #contact-details {
        padding: 40px 18px;
    }

        #form form textarea {
            width: 80%;
        }
        #form form input {
            width: 80%;
        }
    }
@media(max-width: 305px){
    #form form h2 {
        font-size: 28px;
    }
}
@media(max-width: 299px){
    .details h2 {
        font-size: 17px;
    }
}